body {
  margin: 0;
  font-family: 'Segoe UI';
}

.dashboard {
  display: flex;
}

.sidebar {
  width: 240px;
  height: 100vh;
  background: #0A192F;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar a {
  color: white;
  margin: 10px 0;
  text-decoration: none;
}

.logout {
  margin-top: auto;
  background: red;
  border: none;
  padding: 10px;
  color: white;
}

.main {
  flex: 1;
  padding: 30px;
  background: #f4f6f9;
}

.cards {
  display: flex;
  gap: 20px;
}

.card {
  flex: 1;
  background: white;
  padding: 20px;
  border-radius: 12px;
}

table {
  width: 100%;
  margin-top: 20px;
  background: white;
}

.dark {
  background: #111;
  color: white;
}